<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NQueen.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<NQueen.Common.Properties.Settings>
   <setting name="DefaultDelayInMilliseconds" serializeAs="String">
	<value>10</value>
   </setting>
   <setting name="DefaultBoardSize" serializeAs="String">
	<value>8</value>
   </setting>
   <setting name="RelativeFactor" serializeAs="String">
	<value>8</value>
   </setting>
   <setting name="MinBoardSize" serializeAs="String">
	<value>1</value>
   </setting>
   <setting name="MaxNoOfSolutionsInOutput" serializeAs="String">
	<value>40</value>
   </setting>
   <setting name="MaxBoardSizeForUniqueCase" serializeAs="String">
	<value>17</value>
   </setting>
   <setting name="MaxBoardSizeForSingleCase" serializeAs="String">
	<value>37</value>
   </setting>
   <setting name="MaxBoardSizeForAllCase" serializeAs="String">
	<value>16</value>
   </setting>
  </NQueen.Common.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
